.sc-flavor-container {
  width: 80%;
  height: 200px;
  margin: 30px auto;
  display: flex;
  .sc-remove {
    position: relative;
    cursor: pointer;
    img {
      box-shadow: 2px 2px 2px #888;
    }
    .sc-remove-product {
      font-family: $font-family;
      background-color: $teal;
      color: white;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      -webkit-transition: bottom .2s linear;
      -moz-transition: bottom .2s linear;
      -ms-transition: bottom .2s linear;
      -o-transition: bottom .2s linear;
      transition: bottom .2s linear;
    }
    &:hover .sc-remove-product {
      bottom: 40%;
      visibility: visible;
    }
  }
  .remove {
  	cursor: pointer;
  }

  .sc-side {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: $font-family;
  }
}

.sc-flavor-description {
  background: white;
  box-shadow: 2px 2px 2px #888;
  height: 60%;
  h4 {
    font-size: 2rem;
    padding: 15px 10px;
    letter-spacing: 1px;
    color: $teal;
    font-weight: 300;
  }
  p {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: flex-start;
  }
}

.sc-addToCartBar-container {
  font-weight: 300;
  font-size: 24px;
  background: white;
  box-shadow: 2px 2px 2px #888;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    padding: 18px 25px;
  }
  .minus {
    cursor: pointer;
  }
  .plus {
    cursor: pointer;
  }
}

.equals {
  @extend .calculator;
  .price-per-unit {
    background: $color-grey;
  }
}

.minus:hover {
  background-color: $teal;
  color: white;
}

.plus:hover {
  @extend .minus:hover;
}

.total-price {
  @extend .minus:hover;
}
