@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.sc-header-container {
  width: 100%;
  position: relative;
  height: 125px;
  display: flex;
  align-items: center; }
  .sc-header-container .sc-title-container {
    width: 80%;
    margin: 0 auto; }
    .sc-header-container .sc-title-container .sc-title {
      font-family: "Open Sans", "Arial", sans-serif;
      font-size: 2rem;
      font-weight: 300;
      position: relative;
      cursor: pointer; }
      .sc-header-container .sc-title-container .sc-title .sc-bracket1, .sc-header-container .sc-title-container .sc-title .sc-bracket2 {
        color: #62DEBE;
        cursor: pointer; }
      .sc-header-container .sc-title-container .sc-title .sc-bracket2 {
        background: #fff;
        padding-right: 150px;
        position: absolute;
        left: 230px;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear; }
      .sc-header-container .sc-title-container .sc-title:hover .sc-bracket2 {
        left: 360px; }
      .sc-header-container .sc-title-container .sc-title a {
        text-decoration: none;
        font-size: 1.5rem;
        letter-spacing: 1.5px;
        color: black;
        padding: 10px;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear; }
        .sc-header-container .sc-title-container .sc-title a:hover {
          color: #62DEBE; }

.sc-flavor-container {
  width: 80%;
  height: 200px;
  margin: 30px auto;
  display: flex; }
  .sc-flavor-container .sc-remove {
    position: relative;
    cursor: pointer; }
    .sc-flavor-container .sc-remove img {
      box-shadow: 2px 2px 2px #888; }
    .sc-flavor-container .sc-remove .sc-remove-product {
      font-family: "Open Sans", "Arial", sans-serif;
      background-color: #62DEBE;
      color: white;
      position: absolute;
      left: 0;
      width: 100%;
      bottom: 0;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      -webkit-transition: bottom .2s linear;
      -moz-transition: bottom .2s linear;
      -ms-transition: bottom .2s linear;
      -o-transition: bottom .2s linear;
      transition: bottom .2s linear; }
    .sc-flavor-container .sc-remove:hover .sc-remove-product {
      bottom: 40%;
      visibility: visible; }
  .sc-flavor-container .remove {
    cursor: pointer; }
  .sc-flavor-container .sc-side {
    width: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Open Sans", "Arial", sans-serif; }

.sc-flavor-description {
  background: white;
  box-shadow: 2px 2px 2px #888;
  height: 60%; }
  .sc-flavor-description h4 {
    font-size: 2rem;
    padding: 15px 10px;
    letter-spacing: 1px;
    color: #62DEBE;
    font-weight: 300; }
  .sc-flavor-description p {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: flex-start; }

.sc-addToCartBar-container {
  font-weight: 300;
  font-size: 24px;
  background: white;
  box-shadow: 2px 2px 2px #888;
  height: 30%;
  display: flex;
  justify-content: space-between; }

.calculator, .equals {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .calculator div, .equals div {
    padding: 18px 25px; }
  .calculator .minus, .equals .minus {
    cursor: pointer; }
  .calculator .plus, .equals .plus {
    cursor: pointer; }

.equals .price-per-unit {
  background: #EEE; }

.minus:hover, .plus:hover, .total-price {
  background-color: #62DEBE;
  color: white; }

.sc-body-container {
  background-color: #EEE;
  padding: 20px;
  width: 100%; }
  .sc-body-container p {
    text-align: center;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 16px; }

.sc-footer-container {
  width: 80%;
  height: 125px;
  margin: 30px auto;
  display: flex;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  line-height: 2; }
  .sc-footer-container .taxes {
    font-size: 14px; }
  .sc-footer-container .total {
    text-align: center; }
    .sc-footer-container .total .price {
      background: #eee;
      border-bottom: 2px solid #888;
      margin-bottom: 5px; }
    .sc-footer-container .total .checkout {
      background-color: #62DEBE;
      color: white;
      padding: 5px 60px;
      cursor: pointer; }
      .sc-footer-container .total .checkout:hover {
        background-color: #26b48f; }
  .sc-footer-container .modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none; }
    .sc-footer-container .modalDialog .modalContainer {
      width: 400px;
      position: relative;
      margin: 20% auto;
      padding: 20px;
      border-radius: 10px 0;
      background: #fff;
      background: -moz-linear-gradient(#fff, #eee);
      background: -webkit-linear-gradient(#fff, #eee);
      background: -o-linear-gradient(#fff, #eee); }
      .sc-footer-container .modalDialog .modalContainer .close {
        background: #62DEBE;
        color: white;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        text-decoration: none;
        padding: 5px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px;
        cursor: pointer; }
        .sc-footer-container .modalDialog .modalContainer .close:hover {
          background-color: #26b48f; }
  .sc-footer-container .showModal {
    opacity: 1;
    pointer-events: auto; }

.creditcard-checkout .flip-container {
  perspective: 1000; }
  .creditcard-checkout .flip-container:hover .flipper {
    transform: rotateY(180deg); }
  .creditcard-checkout .flip-container .front, .creditcard-checkout .flip-container .back {
    width: 400px;
    height: 240px;
    border-radius: 15px;
    backface-visibility: hidden;
    background-color: #06C;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0; }
    .creditcard-checkout .flip-container .front .number, .creditcard-checkout .flip-container .back .number {
      padding-left: 10px; }
    .creditcard-checkout .flip-container .front .card-holder, .creditcard-checkout .flip-container .back .card-holder {
      padding-left: 10px; }
    .creditcard-checkout .flip-container .front .card-expiration-date, .creditcard-checkout .flip-container .back .card-expiration-date {
      padding-left: 10px; }
  .creditcard-checkout .flip-container .back {
    background-color: #EEE; }
    .creditcard-checkout .flip-container .back .strip {
      position: absolute;
      background-color: black;
      height: 40px;
      width: 100%;
      top: 50px; }
    .creditcard-checkout .flip-container .back .ccv {
      position: absolute;
      padding-left: 10px;
      bottom: 20px;
      color: black; }
  .creditcard-checkout .flip-container .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative; }
  .creditcard-checkout .flip-container .front, .creditcard-checkout .flip-container .back {
    z-index: 2;
    transform: rotateY(0deg); }
  .creditcard-checkout .flip-container .back {
    transform: rotateY(180deg); }

.form {
  position: relative;
  font-size: 14px;
  top: 280px;
  padding-bottom: 250px; }
  .form label {
    float: left;
    margin-right: 15px;
    width: 100%;
    color: #60debd;
    font-weight: bold; }
  .form input {
    border-radius: 5px;
    height: 20px;
    border: none;
    margin: 5px; }
  .form .cc-number {
    width: 100%; }
    .form .cc-number .input-card-number {
      width: 21%;
      margin: 7px; }
  .form .card-holder {
    width: 100%; }
    .form .card-holder input {
      width: 95%; }
  .form .thirdRow {
    position: relative; }
    .form .thirdRow .expiration {
      float: left; }
      .form .thirdRow .expiration .select {
        display: inline-block; }
        .form .thirdRow .expiration .select :first-child {
          margin-right: 10px; }
  .form .checkout-btn {
    clear: both;
    display: block;
    width: 200px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 0px;
    height: 20px;
    padding: 20px;
    vertical-align: middle;
    background: #62DEBE;
    color: white;
    border: none; }
    .form .checkout-btn:hover {
      background-color: #26b48f; }

.trigger-flip {
  transform: rotateY(180deg); }

/*# sourceMappingURL=main.css.map */
